*.elc
.DS_Store
.lsp-session*
.mc-lists.el
ac-comphist.dat
auto-save-list/*
cache/*
el-get/*
elpa/*
forge-database.sqlite
games/*
hgs-cache
ido.last
magithub/*
project-explorer-cache/*
projectile-bookmarks.eld
projectile.cache
recentf
saved-places
savefile/*
sessions/*
smex-items
srecode-map.el
tramp
url/*
var/*

# Bittorrent Sync related
.AppleDouble
.SyncID
.SyncIgnore
.SyncArchive/*
