straight/*
!straight/versions/
!straight/versions/*

*.elc
.DS_Store
.cache/*
.extension/*
.lsp-session*
.mc-lists.el
ac-comphist.dat
auto-save-list/*
cache/*
desktops/*
easysession/*
el-get/*
elpa/*
forge-database.sqlite
games/*
hgs-cache
ido.last
magithub/*
persp-confs/*
project-explorer-cache/*
projectile-bookmarks.eld
projectile.cache
recentf
saved-places
savefile/*
sessions/*
smex-items
srecode-map.el
tramp
tree-sitter/*
url/*
var/*

# Bittorrent Sync related
.AppleDouble
.SyncID
.SyncIgnore
.SyncArchive/*
