straight/*
!straight/versions/
!straight/versions/*

elpaca/*
!elpaca/packages.lock.el

*.elc
.DS_Store
.cache/*
.chatgpt-shell.el
.dap-breakpointsg
.extension/*
.lsp-session*
.mc-lists.el
ac-comphist.dat
auto-save-list/*
cache/*
chatgpt/*
dall-e/*
desktops/*
easysession/*
el-get/*
elpa/*
eshell/*
forge-database.sqlite
games/*
gptel-history/*
hgs-cache
ido.last
image-dired/*
magithub/*
persp-confs/*
project-explorer-cache/*
projectile-bookmarks.eld
projectile.cache
recentf
request/*
saved-places
savefile/*
sessions/*
smex-items
srecode-map.el
tramp
transient/*
tree-sitter/*
url/*
var/*

# Bittorrent Sync related
.AppleDouble
.SyncID
.SyncIgnore
.SyncArchive/*
